<section>
  <div class="container mb-5 mt-5">
    <form action="" method="POST" [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="input-group col-6" style="margin: auto;">
          <input type="text" formControlName="key" class="form-control" placeholder="Search ...">
          <div class="input-group-append">
            <button class="btn btn-success" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>
    </form>
  </div>
</section>
<section>
<div class="container mb-5">
  <table class="table">
      <thead>
        <tr>
        
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let cus of list">
          
          <td>{{cus.id}}</td>
          <td>{{cus.name}}</td>
          <td>{{cus.status}}</td>
        </tr>
        
      </tbody>
    </table>
</div>

  <hr/>

  <div class="container">
    <table class="table">
        <thead>
          <tr>
          
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Sale_Price</th>
            <th scope="col">Create_At</th>
            <th scope="col">Image</th>
            <th scope="col">Status</th>
            <th scope="col">Detail</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
  
          <tr *ngFor="let prod of listb">
            
            <td>{{prod.id}}</td>
            <td>{{prod.name}}</td>
            <td>{{prod.cat.name}}</td>
            <td>{{prod.description}}</td>
            <td>{{prod.price | currency: "VND"}}</td>
            <td>{{prod.sale_price}}</td>
            <td>{{prod.create_at | date:"MM/dd/yy"}}</td>
            <td>{{prod.image}}</td>
            <td>{{prod.status}}</td>
            <td><a routerLink="/proddetail/{{prod.id}}">Detail</a></td>
            <td><a href="javascript:void()" (click)="onDelete(prod.id)">Delete</a></td>
            <td><a routerLink="/prodedit/{{prod.id}}">Edit</a></td>
          </tr>
          
        </tbody>
      </table>
  </div>
</section>