
.owl-theme .owl-nav [class*=owl-] {
 
   font-size: 18px;
  color: #1c1c1c !important;
  height: 70px;
  width: 30px;
  line-height: 70px;
  text-align: center;
  border: 1px solid #ebebeb !important;
  position: absolute;
  left: -35px;
  top: 50%;
  -webkit-transform: translateY(-35px);
  background: #ffffff !important;
}
.owl-theme .owl-nav .owl-next {
  left: auto;
  right: -35px;
  
}

.latest-product__text .owl-theme .owl-nav{
  display: none;
}