<section>
    <div class="container">
        <div class="col-8 p-5" style="border: 5px solid black;margin:3rem auto;">
            <form action="" method="POST" [formGroup]="prodForm" (ngSubmit)="onCreate()">
                <h2 class="text-center">Thêm Mới Sản Phẩm</h2>
                <hr>
                 
                <h5 class="text-center" style="font-weight:700"  [ngStyle]="{'color': msg.code == 100 ? 'green' : 'red'}">{{msg.msg}}</h5>
                
                <hr>
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-3 col-form-label">Tên Sản Phẩm</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword" formControlName="name">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Danh Mục</label>
                    <div class="col-sm-9">
                        
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="cat"> 
                            
                            <option *ngFor="let cat of list" [ngValue]="cat">
                                {{cat.name}}
                              </option>
                          
                        </select>
                    </div>
                  </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Mô Tả</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword" formControlName="description">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Ngày Nhập</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" id="inputPassword" formControlName="create_at">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Ảnh</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword" formControlName="image">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Giá</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="inputPassword" formControlName="price">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Giá KM</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="inputPassword" formControlName="sale_price">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Status</label>
                    <div class="col-sm-9">
                        <div class="row">
                        <div class="form-check col-6">
                            <input class="form-check-input" type="radio" name="status" id="exampleRadios1" value="true" checked formControlName="status"> 
                            <label class="form-check-label" for="exampleRadios1">
                              Còn Hàng
                            </label>
                          </div>
                          <div class="form-check col-6">
                            <input class="form-check-input" type="radio" name="status" id="exampleRadios2" value="false"  formControlName="status">
                            <label class="form-check-label" for="exampleRadios2">
                              Hết Hàng
                            </label>
                          </div>
                        </div>
                    </div>
                </div>
                <button type="submit">Submit</button>
              </form>
        </div>
    </div>
</section>


