<section>
    <div class="container">
        <div class="col-8 p-5" style="border: 5px solid black;margin:3rem auto;">
            <form action="" method="POST" [formGroup]="prodFormb" (ngSubmit)="onUpdate()">
                <h2 class="text-center">Cập Nhật Sản Phẩm </h2>
                <hr>
                 
                <h5 class="text-center" style="font-weight:700"  [ngStyle]="{'color': msg.code == 100 ? 'green' : 'red'}">{{msg.msg}}</h5>
                
                <hr>
                <input type="number" hidden class="form-control" id="inputPassword" formControlName="id" value="{{prod.id}}" >
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-3 col-form-label">Tên Sản Phẩm</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword" formControlName="name" value="{{prod.name}}">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Danh Mục</label>
                    <div class="col-sm-9">
                        
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="cat"> 
                            
                            <option *ngFor="let cat of list" [ngValue]="cat" [selected]="cat.id == idcat">
                                {{cat.name}}
                            </option>
                          
                        </select>
                    </div>
                  </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Mô Tả</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword" formControlName="description" value="{{prod.description}}">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Ngày Nhập</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" id="inputPassword" formControlName="create_at" value="{{prod.create_at}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Ảnh</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword" formControlName="image" value="{{prod.image}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Giá</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="inputPassword" formControlName="price" value="{{prod.price}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Giá KM</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="inputPassword" formControlName="sale_price" value="{{prod.sale_price}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Status</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="form-check col-6">
                                <input class="form-check-input" type="radio" name="status" id="exampleRadios1" value="true" [checked]="prod.status == true"> 
                                <label class="form-check-label" for="exampleRadios1">
                                  Còn Hàng
                                </label>
                              </div>
                              <div class="form-check col-6">
                                <input class="form-check-input" type="radio" name="status" id="exampleRadios2" value="false"  [checked]="prod.status == false">
                                <label class="form-check-label" for="exampleRadios2">
                                  Hết Hàng
                                </label>
                              </div>
                            </div>
                    </div>
                </div>
                <button type="submit">Submit</button>
              </form>
        </div>
    </div>
</section>


